{% load static %}
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>

    <link rel="stylesheet" href='{% static "/css/contact.css" %}'>
    <link rel="stylesheet" href='{% static "/css/algemeen.css" %}'>

    <script src="https://kit.fontawesome.com/03deb1591a.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>Dylan Vianen</h1>
            <div>
                <a href="{% url "home" %}"><p>Home</p></a>
                <a href="{% url "over_mij" %}"><p>Over mij</p></a>
                <a href="{% url "services" %}"><p>Services</p></a>
                <a href="{% url "contact" %}"><p>Contact</p></a>
            </div>
            <span></span>
            <a class="mijn_werk" href="{% url "mijn_werk" %}">Mijn werk</a>
        </header>
        <span></span>
        <!--django temp begin-->
        <section class="contact_cont">
            <h1>Contact formulier</h1>
            <form action="" method="post">
                <div>
                    <label for="Uname">Naam:</label>
                    <input type="text" name="Uname" id="Uname">
                </div>
                <div>
                    <label for="Umail">E-mail addres:</label>
                    <input type="email" name="Umail" id="Umail">
                </div>
                <div>
                    <label for="Ureden">reden:</label>
                    <input type="text" name="Ureden" id="Ureden">
                </div>
                <button type="submit">versturen</button>
            </form>
        </section>
        <!--django temp end-->
        <span></span>
        <footer class="flex">
            <div class="flex">
                <a href="https://www.instagram.com/dylan.ceb.rm/">
                    <i class="fa-brands fa-instagram"></i>
                    <p>dylan.ceb.rm</p>
                </a>
                <a href="https://www.facebook.com/jan.steen.98837399/">
                    <i class="fa-brands fa-facebook"></i>
                    <p>jan steen</p>
                </a>
                <a href="https://www.linkedin.com/in/dylan-vianen-160113218/">
                    <i class="fa-brands fa-linkedin"></i>
                    <p>dylan vianen</p>
                </a>
            </div>
            <span></span>
            <p>&copy;Copyright 2024</p>
        </footer>
    </div>
</body>
</html>