{% load static %}
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    
    <link rel="stylesheet" href='{% static "/css/services.css" %}'>
    <link rel="stylesheet" href='{% static "/css/algemeen.css" %}'>
    
    <script src="https://kit.fontawesome.com/03deb1591a.js" crossorigin="anonymous"></script>
    
    <script src='{% static "jquery/jquery.js" %}'></script>
    <script src='{% static "jquery/plugins/jquery.cookie.js" %}'></script>
    <script src='{% static "jquery/plugins/jquery.parseQuery.js" %}'></script>
    <script src='{% static "jquery/plugins/jquery.utils.js" %}'></script>
    <script src='{% static "jquery/plugins/jquery.cookie.js" %}'></script>
    <script src="{% static '/js/algemeen.js' %}"></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>Dylan Vianen</h1>
            <span class="spacing-header"></span>
            <div class="link-cont">
                <a href='{% url "home" %}' class="link"><p>Home</p></a>
                <a href='{% url "over_mij" %}' class="link"><p>Over mij</p></a>
                <a href='{% url "services" %}' class="link"><p>Services</p></a>
                <a href='{% url "contact" %}' class="link"><p>Contact</p></a>
                <a id='werk-m-link' href='{% url "mijn_werk" %}' class="link werk"><p>Mijn werk</p></a>
            </div>
            <span></span>
            <a class="mijn_werk" href='{% url "mijn_werk" %}'><p>Mijn werk</p></a>
            <svg class="dropd" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
        </header>
        <span></span>
        <!--django temp begin-->
        <section class="services_cont">
                <img src="{% static '/photos/overmij/full_stack_developer.svg' %}"
                alt="foto van full stack development">
                <h2>full stack development</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Voluptates mollitia nulla quo reprehenderit eius suscipit 
                    deleniti sapiente praesentium tempora sint. Modi, quidem dolorem? 
                    A, repudiandae porro iusto eveniet quae ab.
                </p>
        </section>
        <!--django temp end-->
        <span></span>
        <footer class="flex">
            <div class="flex">
                <a href="https://www.instagram.com/dylan.ceb.rm/">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/jan.steen.98837399/">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://www.linkedin.com/in/dylan-vianen-160113218/">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </div>
            <span></span>
            <p>&copy;Copyright 2024</p>
        </footer>
    </div>
</body>
</html>