.services_cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services_cont > img{
    width: 25vw;
    height: min-content;

}

.services_cont > p{
    max-width: 80%;
}