.werk_sing{
    margin: 10vh 0;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.werk_sing > a{
    display: grid;
    justify-content: center;
    align-items: center;
}

.werk_sing > a > h2{
    font-size: 6vw;
}

.werk_sing > img{
    height: 60vh;
    justify-self: center;
}

.werk_sing > div{
    display: grid;
    gap: .5em;
}

.werk_sing > div > small{
    justify-self: end;
}